<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" verbose="1" thread-count="1" parallel="tests" configfailurepolicy="continue">
    <test name="CucumberTest 1" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.perficient.tests.RunCukes"/>
        </classes>
    </test>
</suite>